MAKECOM_FIXED_SCENARIO_BLUEPRINT.json
{
  "name": "Contract Generation - FIXED VERSION",
  "description": "Complete contract generation workflow with proper module connections",
  "version": "1.0.0",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": 2640726,
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        },
        "interface": [
          {
            "name": "contract_id",
            "type": "text"
          },
          {
            "name": "contract_number",
            "type": "text"
          },
          {
            "name": "contract_type",
            "type": "text"
          },
          {
            "name": "promoter_id",
            "type": "text"
          },
          {
            "name": "first_party_id",
            "type": "text"
          },
          {
            "name": "second_party_id",
            "type": "text"
          }
        ]
      }
    },
    {
      "id": 2,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {
        "handleErrors": true,
        "useNewZLibDeCompress": true
      },
      "mapper": {
        "url": "{{var.organization.CONTRACTS_API_URL}}/api/webhook/makecom",
        "method": "post",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          },
          {
            "name": "X-Webhook-Secret",
            "value": "{{var.organization.MAKE_WEBHOOK_SECRET}}"
          }
        ],
        "data": "{\n  \"contract_id\": \"{{1.contract_id}}\",\n  \"contract_number\": \"{{1.contract_number}}\",\n  \"contract_type\": \"{{1.contract_type}}\",\n  \"promoter_id\": \"{{1.promoter_id}}\",\n  \"first_party_id\": \"{{1.first_party_id}}\",\n  \"second_party_id\": \"{{1.second_party_id}}\"\n}",
        "bodyType": "raw",
        "contentType": "application/json"
      },
      "metadata": {
        "designer": {
          "x": 400,
          "y": 0
        }
      }
    },
    {
      "id": 3,
      "module": "util:SetVariable2",
      "version": 1,
      "mapper": {
        "variable": [
          {
            "name": "contract_data",
            "value": "{{2.data}}"
          },
          {
            "name": "template_id",
            "value": "1dG719K4jYFrEh8O9VChyMYWblflxW2tdFp2n4gpVhs0"
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 800,
          "y": 0
        }
      }
    },
    {
      "id": 4,
      "module": "google-docs:getADocument",
      "version": 1,
      "parameters": {
        "__IMTCONN__": 8511693
      },
      "mapper": {
        "select": "dropdown",
        "includeTabsContent": false,
        "filter": "image",
        "destination": "drive",
        "document": "{{3.template_id}}"
      },
      "metadata": {
        "designer": {
          "x": 1200,
          "y": 0
        }
      }
    },
    {
      "id": 5,
      "module": "util:SetVariable2",
      "version": 1,
      "mapper": {
        "variable": [
          {
            "name": "template_content",
            "value": "{{4.body.content}}"
          },
          {
            "name": "old_text",
            "value": "{{4.body.content}}"
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 1600,
          "y": 0
        }
      }
    },
    {
      "id": 6,
      "module": "google-docs:createADocumentFromATemplate",
      "version": 1,
      "parameters": {
        "__IMTCONN__": 8511693
      },
      "mapper": {
        "template": "{{3.template_id}}",
        "name": "{{3.contract_data.contract_number}} - Contract",
        "destination": "drive"
      },
      "metadata": {
        "designer": {
          "x": 2000,
          "y": 0
        }
      }
    },
    {
      "id": 7,
      "module": "google-docs:replaceATextInADocument",
      "version": 1,
      "parameters": {
        "__IMTCONN__": 8511693
      },
      "mapper": {
        "document": "{{6.id}}",
        "oldText": "{{5.old_text}}",
        "newText": "Contract Number: {{3.contract_data.contract_number}}\nDate: {{now}}\n\nBETWEEN:\n{{3.contract_data.first_party_name_en}} ({{3.contract_data.first_party_name_ar}}) - CLIENT\nCommercial Registration: {{3.contract_data.first_party_crn}}\nEmail: {{3.contract_data.first_party_email}}\nPhone: {{3.contract_data.first_party_phone}}\n\nAND:\n{{3.contract_data.second_party_name_en}} ({{3.contract_data.second_party_name_ar}}) - EMPLOYER\nCommercial Registration: {{3.contract_data.second_party_crn}}\nEmail: {{3.contract_data.second_party_email}}\nPhone: {{3.contract_data.second_party_phone}}\n\nEMPLOYEE:\n{{3.contract_data.promoter_name_en}} ({{3.contract_data.promoter_name_ar}})\nID Card Number: {{3.contract_data.promoter_id_card_number}}\nMobile: {{3.contract_data.promoter_mobile_number}}\nEmail: {{3.contract_data.promoter_email}}\n\nCONTRACT DETAILS:\nPosition: {{3.contract_data.job_title}}\nDepartment: {{3.contract_data.department}}\nWork Location: {{3.contract_data.work_location}}\nStart Date: {{3.contract_data.contract_start_date}}\nEnd Date: {{3.contract_data.contract_end_date}}\nBasic Salary: {{3.contract_data.basic_salary}} {{3.contract_data.currency}}\n\nSPECIAL TERMS:\n{{3.contract_data.special_terms}}"
      },
      "metadata": {
        "designer": {
          "x": 2400,
          "y": 0
        }
      }
    },
    {
      "id": 8,
      "module": "google-docs:exportADocument",
      "version": 1,
      "parameters": {
        "__IMTCONN__": 8511693
      },
      "mapper": {
        "document": "{{7.id}}",
        "mimeType": "application/pdf",
        "destination": "drive"
      },
      "metadata": {
        "designer": {
          "x": 2800,
          "y": 0
        }
      }
    },
    {
      "id": 9,
      "module": "supabase:uploadAFile",
      "version": 1,
      "parameters": {
        "__IMTCONN__": 10479309
      },
      "mapper": {
        "upsert": true,
        "bucketID": "{{var.organization.CONTRACTS_STORAGE_BUCKET}}",
        "file_data": "{{8.data}}",
        "file_name": "{{3.contract_data.contract_number}}-{{3.contract_data.promoter_name_en}}.pdf"
      },
      "metadata": {
        "designer": {
          "x": 3200,
          "y": 0
        }
      }
    },
    {
      "id": 10,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {
        "handleErrors": true,
        "useNewZLibDeCompress": true
      },
      "mapper": {
        "url": "{{var.organization.CONTRACTS_API_URL}}/api/webhook/contract-pdf-ready",
        "method": "patch",
        "headers": [
          {
            "name": "X-Webhook-Secret",
            "value": "{{var.organization.PDF_WEBHOOK_SECRET}}"
          },
          {
            "name": "X-Make-Request-ID",
            "value": "{{uuid()}}"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "data": "{\n  \"contract_id\": \"{{1.contract_id}}\",\n  \"contract_number\": \"{{3.contract_data.contract_number}}\",\n  \"pdf_url\": \"{{var.organization.SUPABASE_URL}}/storage/v1/object/public/{{var.organization.CONTRACTS_STORAGE_BUCKET}}/{{9.file_name}}\",\n  \"google_drive_url\": \"https://docs.google.com/document/d/{{7.id}}/edit\",\n  \"status\": \"generated\",\n  \"images_processed\": {\n    \"id_card\": false,\n    \"passport\": false\n  }\n}",
        "bodyType": "raw",
        "contentType": "application/json"
      },
      "metadata": {
        "designer": {
          "x": 3600,
          "y": 0
        }
      }
    },
    {
      "id": 11,
      "module": "gateway:WebhookRespond",
      "version": 1,
      "parameters": {},
      "mapper": {
        "body": "{\n  \"success\": true,\n  \"contract_id\": \"{{1.contract_id}}\",\n  \"contract_number\": \"{{3.contract_data.contract_number}}\",\n  \"document_url\": \"https://docs.google.com/document/d/{{7.id}}/edit\",\n  \"pdf_url\": \"{{var.organization.SUPABASE_URL}}/storage/v1/object/public/{{var.organization.CONTRACTS_STORAGE_BUCKET}}/{{9.file_name}}\",\n  \"status\": \"completed\"\n}",
        "status": "200",
        "headers": [
          {
            "key": "Content-Type",
            "value": "application/json"
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 4000,
          "y": 0
        }
      }
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": true,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "eu2.make.com",
    "notes": []
  }
}
