makecom-blueprint-corrected.json
{
    "name": "Integration Webhooks, HTTP - FULLY FUNCTIONAL - CORRECTED",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2640726,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "FetchContract"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "contract_id",
                        "type": "text"
                    },
                    {
                        "name": "first_party_name_en",
                        "type": "text"
                    },
                    {
                        "name": "first_party_name_ar",
                        "type": "text"
                    },
                    {
                        "name": "first_party_crn",
                        "type": "text"
                    },
                    {
                        "name": "second_party_name_en",
                        "type": "text"
                    },
                    {
                        "name": "second_party_name_ar",
                        "type": "text"
                    },
                    {
                        "name": "second_party_crn",
                        "type": "text"
                    },
                    {
                        "name": "promoter_name_en",
                        "type": "text"
                    },
                    {
                        "name": "promoter_name_ar",
                        "type": "text"
                    },
                    {
                        "name": "job_title",
                        "type": "text"
                    },
                    {
                        "name": "work_location",
                        "type": "text"
                    },
                    {
                        "name": "email",
                        "type": "text"
                    },
                    {
                        "name": "start_date",
                        "type": "text"
                    },
                    {
                        "name": "end_date",
                        "type": "text"
                    },
                    {
                        "name": "contract_number",
                        "type": "text"
                    },
                    {
                        "name": "id_card_number",
                        "type": "text"
                    },
                    {
                        "name": "promoter_id_card_url",
                        "type": "text"
                    },
                    {
                        "name": "promoter_passport_url",
                        "type": "text"
                    },
                    {
                        "name": "pdf_url",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "http:ActionSendDataBasicAuth",
            "version": 3,
            "parameters": {
                "key": 92343,
                "handleErrors": false,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "url": "https://reootcngcptfogfozlmz.supabase.co/rest/v1/contracts",
                "serializeUrl": true,
                "method": "get",
                "headers": [
                    {
                        "name": "apikey",
                        "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlb290Y25nY3B0Zm9nZm96bG16Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTM0NDQzODIsImV4cCI6MjA2OTAyMDM4Mn0.WQwDpYX2M4pyPaliUqTinwy1xWWFKm4OntN2HUfP6n0"
                    },
                    {
                        "name": "Authorization",
                        "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlb290Y25nY3B0Zm9nZm96bG16Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MzQ0NDM4MiwiZXhwIjoyMDY5MDIwMzgyfQ.BTLA-2wwXJgjW6MKoaw2ERbCr_fXF9w4zgLb70_5DAE"
                    }
                ],
                "qs": [
                    {
                        "name": "contract_number",
                        "value": "eq.{{1.contract_number}}"
                    },
                    {
                        "name": "select",
                        "value": "*"
                    },
                    {
                        "name": "is_current",
                        "value": "eq.true"
                    }
                ],
                "bodyType": "",
                "parseResponse": true,
                "timeout": "",
                "shareCookies": false,
                "ca": "",
                "rejectUnauthorized": true,
                "followRedirect": true,
                "useQuerystring": false,
                "gzip": true,
                "useMtls": false,
                "followAllRedirects": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            }
        },
        {
            "id": 14,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "filter": {
                "name": "Contract Data Exists",
                "conditions": [
                    [
                        {
                            "a": "length({{2.data}})",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "array": "{{2.data}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                }
            }
        },
        {
            "id": 30,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": true,
                "useNewZLibDeCompress": true
            },
            "filter": {
                "name": "ID Card URL Valid",
                "conditions": [
                    [
                        {
                            "a": "{{1.promoter_id_card_url}}",
                            "o": "exist"
                        },
                        {
                            "a": "{{1.promoter_id_card_url}}",
                            "b": "null",
                            "o": "text:notequal"
                        },
                        {
                            "a": "{{length(trim(1.promoter_id_card_url))}}",
                            "b": "0",
                            "o": "number:greater"
                        }
                    ]
                ]
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "{{1.promoter_id_card_url}}",
                "gzip": true,
                "method": "get",
                "headers": [],
                "timeout": "30",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": false,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": -150
                }
            }
        },
        {
            "id": 4,
            "module": "google-drive:uploadAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 8815148
            },
            "filter": {
                "name": "ID Card Download Success",
                "conditions": [
                    [
                        {
                            "a": "{{30.statusCode}}",
                            "b": "200",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "data": "{{30.data}}",
                "select": "map",
                "convert": false,
                "filename": "id_card_{{1.contract_number}}_{{formatDate(now; \"YYYY-MM-DD\")}}.jpg",
                "folderId": "1WoJfPb62ILAKaMT1jEjXH3zwjfkXmg3a"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": -150
                }
            }
        },
        {
            "id": 31,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": true,
                "useNewZLibDeCompress": true
            },
            "filter": {
                "name": "Passport URL Valid",
                "conditions": [
                    [
                        {
                            "a": "{{1.promoter_passport_url}}",
                            "o": "exist"
                        },
                        {
                            "a": "{{1.promoter_passport_url}}",
                            "b": "null",
                            "o": "text:notequal"
                        },
                        {
                            "a": "{{length(trim(1.promoter_passport_url))}}",
                            "b": "0",
                            "o": "number:greater"
                        }
                    ]
                ]
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "{{1.promoter_passport_url}}",
                "gzip": true,
                "method": "get",
                "headers": [],
                "timeout": "30",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": false,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150
                }
            }
        },
        {
            "id": 5,
            "module": "google-drive:uploadAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 8815148
            },
            "filter": {
                "name": "Passport Download Success",
                "conditions": [
                    [
                        {
                            "a": "{{31.statusCode}}",
                            "b": "200",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "data": "{{31.data}}",
                "select": "map",
                "convert": false,
                "filename": "passport_{{1.contract_number}}_{{formatDate(now; \"YYYY-MM-DD\")}}.jpg",
                "folderId": "1WoJfPb62ILAKaMT1jEjXH3zwjfkXmg3a"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 150
                }
            }
        },
        {
            "id": 6,
            "module": "google-docs:createADocumentFromTemplate",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 8511693
            },
            "mapper": {
                "from": "drive",
                "name": "{{1.contract_number}}-{{1.promoter_name_en}}.pdf",
                "image": {
                    "kix.d0m033g2v22b-t.0": "{{1.promoter_id_card_url}}",
                    "kix.hofhbp84rfny-t.0": "{{1.promoter_passport_url}}"
                },
                "select": "dropdown",
                "document": "/1WoJfPb62ILAKaMT1jEjXH3zwjfkXmg3a/1dzYQ_MDstiErG9O1yP87_bVXvDPQbe8V/1dG719K4jYFrEh8O9VChyMYWblflxW2tdFp2n4gpVhs0",
                "folderId": "/1WoJfPb62ILAKaMT1jEjXH3zwjfkXmg3a/14SuwU3yrJZeba2XVYa55fafb4EtpcDTk/1tBNSMae1HsHxdq8WjMaoeuhn6WAPTpvP",
                "requests": {
                    "ref_number": "{{1.contract_number}}",
                    "id_card_number": "{{1.id_card_number}}",
                    "first_party_crn": "{{1.first_party_crn}}",
                    "promoter_name_ar": "{{1.promoter_name_ar}}",
                    "promoter_name_en": "{{1.promoter_name_en}}",
                    "second_party_crn": "{{1.second_party_crn}}",
                    "contract_end_date": "{{formatDate(1.end_date; \"DD-MM-YYYY\")}}",
                    "contract_start_date": "{{formatDate(1.start_date; \"DD-MM-YYYY\")}}",
                    "first_party_name_ar": "{{1.first_party_name_ar}}",
                    "first_party_name_en": "{{1.first_party_name_en}}",
                    "second_party_name_ar": "{{1.second_party_name_ar}}",
                    "second_party_name_en": "{{1.second_party_name_en}}"
                },
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                }
            }
        },
        {
            "id": 19,
            "module": "google-docs:exportADocument",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 8511693
            },
            "mapper": {
                "document": "{{6.id}}",
                "mimeType": "application/pdf",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0
                }
            }
        },
        {
            "id": 20,
            "module": "supabase:uploadAFile",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 10479309
            },
            "mapper": {
                "upsert": true,
                "bucketID": "contracts",
                "file_data": "{{19.data}}",
                "file_name": "{{14.value.contract_number}}-{{14.value.promoter_name_en}}.pdf"
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 0
                }
            }
        },
        {
            "id": 21,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": true,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "url": "https://reootcngcptfogfozlmz.supabase.co/rest/v1/contracts?contract_number=eq.{{14.value.contract_number}}&is_current=eq.true",
                "data": "{\n  \"pdf_url\": \"https://reootcngcptfogfozlmz.supabase.co/storage/v1/object/public/contracts/{{20.file_name}}\",\n  \"status\": \"generated\"\n}",
                "gzip": true,
                "method": "patch",
                "headers": [
                    {
                        "name": "apikey",
                        "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlb290Y25nY3B0Zm9nZm96bG16Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTM0NDQzODIsImV4cCI6MjA2OTAyMDM4Mn0.WQwDpYX2M4pyPaliUqTinwy1xWWFKm4OntN2HUfP6n0"
                    },
                    {
                        "name": "Authorization",
                        "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlb290Y25nY3B0Zm9nZm96bG16Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MzQ0NDM4MiwiZXhwIjoyMDY5MDIwMzgyfQ.BTLA-2wwXJgjW6MKoaw2ERbCr_fXF9w4zgLb70_5DAE"
                    },
                    {
                        "name": "Content-Type",
                        "value": "application/json"
                    },
                    {
                        "name": "Prefer",
                        "value": "return=representation"
                    }
                ],
                "useMtls": false,
                "bodyType": "raw",
                "contentType": "application/json",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": true,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 2400,
                    "y": 0
                }
            }
        },
        {
            "id": 22,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "body": "{\r\n    \"success\": true,\r\n    \"pdf_url\": \"https://reootcngcptfogfozlmz.supabase.co/storage/v1/object/public/contracts/{{20.file_name}}\",\r\n    \"contract_id\": \"{{14.value.contract_number}}\",\r\n    \"images_processed\": {\r\n        \"id_card\": {{if(4.id; true; false)}},\r\n        \"passport\": {{if(5.id; true; false)}}\r\n    }\r\n}",
                "status": "200",
                "headers": []
            },
            "metadata": {
                "designer": {
                    "x": 2700,
                    "y": 0
                }
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": true,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}
